// TEXT COLOR
$color-default: #bfc5d2;
$color-white: #ffffff;
$color-red: #ff7777;
$color-black: #222;
$color-primary: #416086;
$color-primary-on-hover: #5984b9;

// BACKGROUND COLOR
$bg-color-primary: #416086;
$bg-color-secondary: #e087b3;
$bg-color-info: #4bc7e7;
$bg-color-success: #59c796;
$bg-color-default: #48505a;
$bg-color-white: #fff;

$bg-color-primary-on-hover: #385375;
$bg-color-default-on-hover: #3e454e;

$bg-color-white: #ffffff;
$bg-color-red: #ff7777;
$bg-color-body: #838994;
$bg-color-header: #33363e;
$bg-color-default-cell-body: #48505a;
$bg-color-faded-white: rgba(255, 255, 255, 0.05);

// BOTTOM COLOR
$border-color-default: rgba(255, 255, 255, 0.01);

// SCROLL BAR COLOR
$scrollbar-color: $bg-color-default-cell-body;
$scrollbar-color-on-hover: #5e6773;
$scrollbar-bg-color: $bg-color-header;