.cell {
  height: 300px;
  margin: 0 1rem 2rem;
  border-radius: 0.25em;
  @include flex ( flex, flex-start );

  @media (max-width: 840px) {
    // cell__4
    &__4 {
      width: calc(100% - (1rem * 2));
    }

    // cell__8
    &__8 {
      width: calc(100% - (1rem * 2));
    }
  }

  @media (min-width: 841px) {
    // cell__4
    &__4 {
      width: calc(33.33333% - (1rem * 2));
    }

    // cell__8
    &__8 {
      width: calc(66.66667% - (1rem * 2));
    }
  }
}