.split {
  width: 100%;
  height: 6rem;
  @include flex ( flex, space-between );
  align-items: center;

  // split__left
  &__left {
    height: 6rem;
    display: flex;
  }

  // split__right
  &__right {
    height: 6rem;
    display: flex;
  }
}