.footerSplit{
    @include flex ( flex, space-between );
    font-size: 2rem;
    padding: 0 3rem;

    &__left {
        width: 100%;
        max-width: 60%;
    }

    &__right {
        width: 100%;
        max-width: 36%;
    }
}

.footer__form{

    h2{
        font-size: 2rem;    
        margin: 0 0 1rem;
        line-height: 100%;
    }

    &--input{
        display: block; 
        width: 100%;
        margin: 0 0 1rem;
        height: 3rem;
    }

    button{
        width: 100%;
        border: none;
        height: 3rem;
        border: none;
        border-radius: 5px;
        background: $color-red;
        position: relative;
        display: block;
        color: #fff;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

}

.copyright{

    text-align: center;
    min-height: 100px;
    display: block;
    background: #fff3f3;
    padding: 3rem 0;
    color: #222;
    margin-top: 2rem;

    &__span{
        font-weight: bold;
    }

}