.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  padding: 0 3rem;
  // background-color: $bg-color-header;
  background-color: #222;
  border-bottom: 1px solid $border-color-default;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.11);
  @include flex ( flex, flex-start );
  align-items: center;
  z-index: 10;

  // nav__logo
  &__logo {
    @include flex ( flex, flex-start );
    align-items: center;

    // temporary
    h3 {
      display: flex;
      color: $color-primary-on-hover;
      font-size: 24px;

      a {
        color: $color-default;
        text-decoration: none;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }

  // nav__menu
  &__menu {
    @include flex ( flex, flex-end );
    align-items: center;

    // nav__menu--item
    &--item {
      height: 3rem;
      margin-left: 0.5em;
      list-style: none;
      @include flex ( flex, flex-start );
      align-items: center;
      border-radius: 0.25em;
      transition: all 0.15s ease-in;
      background-color: $bg-color-white ;

      &:hover {
        color: $color-white;
        background-color: $bg-color-default;
      }
    }

    // nav__menu--itemLink
    &--itemLink {
      height: 3rem;
      color: $color-black;
      padding: 0 1.25em;
      line-height: 42px;
      text-decoration: none;
      border-radius: 0.25em;
      @include flex ( flex, flex-start );
      align-items: center;

      &.active-itemLink {
        color: $color-white;  
        background-color: $color-red;
      }
    }
  }
}
